@import "tailwindcss";

@keyframes marqueeLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marqueeRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marqueeLeft 65s linear infinite;
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: marqueeRight 65s linear infinite;
}

.animate-marquee-left:hover,
.animate-marquee-right:hover {
  animation-play-state: paused;
}
